@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    outline:0;
}

html, body {
    height:100vh;
    font-family:'Titillium Web', 'Times New Roman', Times, serif ;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
/*header*/
header{
    background-color: #0080ed;    
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;    
}
header nav ul{
    display: flex;    
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}
header nav ul li a:hover{
    background: rgba(255,255,255,0.15);
}
header .container img{
    height: 30px;
}
/*main*/
main{
    margin-bottom: 100px;
}
main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}
h2{
    color: rgb(0, 0, 0);
    font-size:45px ;
    line-height: 50px;
    font-weight: bold;
}
h3{
    color:rgb(131, 131, 131);
    font-size: 20px;
    line-height: 20px;
    margin:10px 0;
}
form{
    margin-top: 20px;    
}
form input{
    width: 380px;
    padding-left:15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #0080ed;
}
form [type="submit"]{
    background-color: #0080ed;
    color: white;
}
form [type="submit"]:hover{
    cursor: pointer;
}
main .container-main img{
    width: 600px;
}
/*cards*/
.cards{
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:20px;
}
.text--medium{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    color: rgba(187,185,185);
}
.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
}
.card:hover{
    transform: translateY(-7px);
}
.image{
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}
.image img{
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}
.card-content{
    margin: 20px;
}
.title text--medium {
    margin-bottom:0px;
}
/*desafio*/

#contato{
    font-size: 30px;
    display: flex;
    justify-content: left;
    height:400px;
    align-items: left;
    margin: 100px auto;
    max-width: 980px;
}
#contato h1{
    font-size: 40px;
    line-height: 20px;
    margin-bottom:30px;
}
 #contato .div, #assunto, #mensagem{ 
    width: 380px;
    padding-left:15px;
    font-size: 18px;
    border-radius: 20px;
    border: 2px solid #0080ed;
}
#mensagem{
    width: 500px;
    height: 150px;
    margin-top: 15px;
}



